@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Portaria Inteligente</h1>
    <p>Aqui você pode deixar seus dados registrados para falicitar suas próximas visitas.</p>
</div>
