@model PortariaInteligente.Models.Meeting

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>Evento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameMeeting" class="control-label"></label>
                <input asp-for="NameMeeting" class="form-control" />
                <span asp-validation-for="NameMeeting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateMeeting" class="control-label"></label>
                <input asp-for="DateMeeting" class="form-control" />
                <span asp-validation-for="DateMeeting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeMeeting" class="control-label"></label>
                <input asp-for="TimeMeeting" class="form-control" />
                <span asp-validation-for="TimeMeeting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceMeeting" class="control-label"></label>
                <input asp-for="PlaceMeeting" class="form-control" />
                <span asp-validation-for="PlaceMeeting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdInternalUser " class="control-label"></label>
                <select asp-for="IdInternalUser" class ="form-control" asp-items="ViewBag.IdInternalUser"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
