@model PortariaInteligente.Models.Visitado

@{
    ViewData["Title"] = "Create";
}

<h1>Criar Novo</h1>

<h4>Visitado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nomeVisitado" class="control-label"></label>
                <input asp-for="nomeVisitado" class="form-control" />
                <span asp-validation-for="nomeVisitado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="emailVisitado" class="control-label"></label>
                <input asp-for="emailVisitado" class="form-control" />
                <span asp-validation-for="emailVisitado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="celVisitado" class="control-label"></label>
                <input asp-for="celVisitado" class="form-control" />
                <span asp-validation-for="celVisitado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fixoVisitado" class="control-label"></label>
                <input asp-for="fixoVisitado" class="form-control" />
                <span asp-validation-for="fixoVisitado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
